.gamecards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 10px; /* Space between Gamecards */
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the items vertically if needed */
  width: fit-content;
  margin: 0 auto; /* Ensure full centering */
}

.Gamecard {
  position: relative;
  box-sizing: border-box;
  flex: 1 1 calc(33.333% - 20px);
  min-width: 600px;
  max-width: 900px;
  height: 300px;
}